:root {
  --cor-0: white;
  --cor-1: #f7f7f7;
  --cor-2: #a4a4a4;
  --cor-3: #7c7c7c;
  --cor-4: #66d9eb;
  --cor-5: #2c70ff;
  --cor-6: #122ab2;
  --cor-7: #ae81ff;
  --cor-8: #f9265e;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}
