.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: var(--cor-2);
  background: var(--cor-1);
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid var(--cor-7);
}

.pink {
  border-top: 8px solid var(--cor-8);
}

.blue {
  border-top: 8px solid var(--cor-4);
}
